body {
    background-color: #2c2c2c;
    background-image: url('resources/my_own_dojo.webp');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #d3d3d3;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    line-height: 1.2;
    margin: 10em 2em auto;
    text-align: center;
    color: black;
}

p {
    font-size: 1.5em;
    line-height: 1.2;
    margin: 0 0 0.3em;
}

i {
    color: #000000;
}

.bottom-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    font-size: xx-large;
}
